{% extends 'base.html.twig' %}

{% block body %}
  <div class="hwi_oauth_content container-fluid" style="margin-top: 50px">
    <div class="row justify-content-md-center">
      <div class="col-md-auto" style="margin-bottom: 50px">
        <h1>{{ 'index.heading' | trans }}</h1>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" href="/sprint_report">{{ 'index.menu.sprint_reports' | trans }}</a>
          <a class="list-group-item list-group-item-action" href="/planning">{{ 'index.menu.planning' | trans }}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
