{% extends 'base.html.twig' %}

{% block body %}
  <div id="app">
    <div class="text-center">
      <h1>Project</h1>
      <div class="jumbotron text-center">
        <project></project>
      </div>
    </div>
  </div>
{% endblock %}