<h1>Jira reporting tool</h1>

<section>
  <ul>
    <li>Go to sprints for <a href="/main/board/{{ defaultBoard.id }}">{{ defaultBoard.name }}</a>.</li>
    <li>Go to <a href="/main/boards">all boards</a>.</li>
  </ul>
</section>
